<div class="card" style="margin: 0 35%;">
  <div class="card-header">
    <h4>USER LOGIN</h4>
  </div>
  <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" maxlength="9" ngModel required name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Password</label>
          <input type="password" ngModel required name="password" class="form-control" id="exampleInputEmail2" placeholder="Enter Password">
        </div>

        <button type="submit" [disabled]="!f.valid" class="btn btn-success waves-effect waves-light m-r-10">Login</button>
      </form>
  </div>
</div>
