<div class="card-header">
  <h4>Student Microservice</h4>
  <h4 align="right">
    <input type="button" value="Logout" (click)="logout()">
  </h4>
</div>

<div class="card-body">
<div class="modal-body">

  <form #studentForm = "ngForm">

      <table>
      <tr>
        <td>
          <div class="field">
      <input type="text" name="name" id="student_id" placeholder="name" #name
      minlength="3"
      [ngModel]="student?.name" value = "{{student?.name}}" class="input-float"
      required >
      <label for="student_id" class="label-color label-float modal-label-float">Name</label>
    </div>
    <div>
      <p *ngIf="displayError">
        <b
          ><span style="color: red;"
            >{{message}}!!!</span
          ></b
        >
      </p>
    </div>
  </td>

      <td>
         <div class="field">
      <input type="text" name="age" id="age" placeholder="age" #age
      maxlength="3"
      [ngModel]="student?.age" value = "{{student?.age}}" class="input-float"
      required >
      <label for="age" class="label-color label-float modal-label-float">Age</label>
    </div>
    <div>
      <p *ngIf="displayError">
        <b
          ><span style="color: red;"
            >{{message}}!!!</span
          ></b
        >
      </p>
    </div>
  </td>

    <td>
      <input type="text" name="contact" id="contact" placeholder="contact" #contact
      [ngModel]="student?.contact" value = "{{student?.name}}" class="input-float"
      maxlength="10"
      required >
      <label for="contact" class="label-color label-float modal-label-float">Contact</label>
    <div>
      <p *ngIf="displayError">
        <b
          ><span style="color: red;"
            >{{message}}!!!</span
          ></b
        >
      </p>
    </div>
  </td>
    <button *ngIf = "!display"type="submit" [disabled]="!studentForm.valid" class="button is-primary" (click)="onSubmit(studentForm)">Add</button>
    <button *ngIf = "display"type="submit" [disabled]="!studentForm.valid" class="button is-primary" (click)="onSubmit(studentForm)">Update</button>
  </tr>
  <tr>
    <td>
      <input type="text"#searchStudentName name="searchStudent" id="searchStudent" placeholder="SearchStudentByName"  class="input-float">
      <button class="button is-primary" (click)="searchByName(searchStudentName.value)">Search</button>
   </td>
  </tr>
</table>
  </form>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm text-center">
<thead>

</thead>
<tbody>
<tr>
<td>Name <span (click)="sortByName()">&#8597;</span></td>
<td>Age <span (click)="sortByAge()">&#8597;</span></td>
<td>Contact</td>
<td>Action</td>
</tr>
<tr  *ngFor="let student of students; let i=index">
<td>{{student.name}}</td>
<td>{{student.age}}</td>
<td>{{student.contact}}</td>
<td>
<button (click)="edit(student.student_id)"
>Edit</button>
<button (click)="delete(student.student_id)"
>Delete</button>
</td>

</tr>
<tr *ngIf="students?.length === 0">
  <td colspan="7" style="text-align: center"> No Matching Records</td></tr>
</tbody>
</table>
</div>
</div>

